body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  overflow-x: hidden;
  color: black;
  font-family: "Ericsson Hilda";
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="submit"] {
  padding: 10px 20px;
  margin: 10px 0px;
  background-color: #a9a9a9;
  border-radius: 10px;
  border: none;
}
.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#sideContent {
  display: flex;
  justify-content: center;
  align-items: start;
  color: black;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}
.sidenav {
  height: 100%;
  width: 270px;
  background-color: #ebebeb;
  transition: 0.5s;
  padding: 30px 15px 0px 0px;
}
.sidenav span {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #5dade2;
  display: block;
  transition: 0.3s;
}
.sidenav span:hover {
  color: #f1f1f1;
  background-color: #21618c;
}
.dashboard {
  margin: 0px;
  margin-left: 28px;
  font-size: 40px;
  color: #f4f6f7;
  margin-bottom: 30px;
}
.menu li {
  margin: 0px;
  margin-left: -10px;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}
.sub-menu li {
  margin: 0px;
  margin-left: -50px;
  font-family: "Aleo light";
  font-size: 20px;
  color: #5dade2;
}
.horizontal-line {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 20px;
  border-style: inset;
  border-width: 1px;
}
* {
  list-style: none;
  font-family: "Ericsson Hilda", sans-serif;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
}
.table-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.leaves-container {
  padding-top: 30px;
}
.container {
  position: relative;
  margin-top: 100px;
  width: 440px;
  height: auto;
  background: #dedede;
  border-radius: 5px;
  margin-left: 100px;
}
.label1 {
  padding: 20px 130px;
  font-size: 35px;
  font-weight: bold;
  color: #130f40;
  text-align: center;
}
.login_form {
  padding: 20px 40px;
}
.login_form .font {
  font-size: 18px;
  color: #130f40;
  margin: 5px 0;
}
.login_form input {
  height: 40px;
  width: 350px;
  padding: 0 5px;
  outline: none;
  border: 1px solid silver;
}
.login_form .font2 {
  margin-top: 30px;
}
.login_form button {
  margin: 45px 0 30px 0;
  height: 45px;
  width: 365px;
  font-size: 20px;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #2471a3;
  border-radius: 3px;
  border: 1px solid #3949ab;
  transition: 0.5s;
}
.login_form button:hover {
  background: #1a5276;
}
.login_form #email_error,
.login_form #pass_error {
  margin-top: 5px;
  width: 345px;
  font-size: 18px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

td {
  padding: 10px 20px;
  font-size: 0.8rem;
  text-align: left;
}

th {
  background-color: #b0b0b0;
  color: #000;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
  padding: 10px 20px;
}
.output {
  border-collapse: collapse;
}

tr {
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}

nav {
  padding: 0px 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

nav > img {
  height: 22px;
}

input,
select,
textarea {
  padding: 8px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
}
